<a href="https://colab.research.google.com/github/pthirumu2798/class_assessment/blob/Task-5-Calculator/WK04_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
empty_typle1=()
empty_typle2= tuple()
print(empty_typle1)
print(empty_typle2)

print(type(empty_typle1))
print(type(empty_typle2))

()
()
<class 'tuple'>
<class 'tuple'>

In [5]:
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __annotations__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 904
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148031744
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [4]:
print(type( (78,)), type ( (78) ))
print(type( (78,)), type ( (78) ))
v1 = 78,
v2 = 78
print(type(v1), type(v2))

<class 'tuple'> <class 'int'>
<class 'tuple'> <class 'int'>
<class 'tuple'> <class 'int'>

In [7]:
print(("The Holy Grail", 1975, 9.99))

('The Holy Grail', 1975, 9.99)

In [14]:
students = (('Thirumuru', 85, 95, 70),
            ('Pranith', 95, 100, 100, 88),
            ('Kumar', 77, 70))

print(len(students))
print(students[1], students[-2])
print(students[2])
print(students[2][1])

3
('Pranith', 95, 100, 100, 88) ('Pranith', 95, 100, 100, 88)
('Kumar', 77, 70)
77

In [15]:
score = (100,)*3
print(score)

score *=2
print(score)
print((1,2) +('a',))
#print((1,2)+('a'))  #type error

(100, 100, 100)
(100, 100, 100, 100, 100, 100)
(1, 2, 'a')

In [16]:
list1, list2, list3 = [2,1],[2,1,4],[]
tuple1, tuple2, tuple3=(2,1),(2,1,4),()

print(min(list1), min(list2,list3))
print(min(tuple1), min(tuple2,tuple3))

print(max(list1), max(list2 , list3))
print(max(tuple1), max(tuple2 , tuple3))

1 []
1 ()
2 [2, 1, 4]
2 (2, 1, 4)

In [17]:
false_true ='ny'
print(f'{false_true[False]=}')
print(f'{false_true[True]=}')

false_true = 'disagree','agree'
print(f"{type(false_true)=}")
print(f"{false_true[False]=}")
print(f"{false_true[True]=}")

false_true[False]='n'
false_true[True]='y'
type(false_true)=<class 'tuple'>
false_true[False]='disagree'
false_true[True]='agree'

In [18]:
fruits1= ['lime','pear','cherry','grape','orange']
fruits2= ('lime','pear','cherry','grape','orange')

#start:stop:step
print(fruits1[-1:1:-1])

x=slice(-1,1,-1)
print(fruits2[x])

#lime , cherry , orange
x=slice(0,6,2)
print(fruits2[x])

#lime , pear, cherry
x=slice(0,3,1)
print(fruits2[x])

#lime , cherry
x=slice(0,3,2)
print(fruits2[x])

#grape, orange
x=slice(3,5,1)
print(fruits2[x])


#reversed
x=slice(None,None,-1)
print(fruits2[x])

# same
x=slice(None,None,1)
print(fruits2[x])

['orange', 'grape', 'cherry']
('orange', 'grape', 'cherry')
('lime', 'cherry', 'orange')
('lime', 'pear', 'cherry')
('lime', 'cherry')
('grape', 'orange')
('orange', 'grape', 'cherry', 'pear', 'lime')
('lime', 'pear', 'cherry', 'grape', 'orange')

In [19]:
fruits1= ['lime','pear','cherry','grape','orange']
fruits2= ('lime','pear', 'cherry', 'grape', 'orange')
fruits3= ('lime',['pear'],'cherry','grape','orange')

#Change pear to apple
fruits1[1]='apple'
print(fruits1)

#fruits2[1]='apple' #WE Can't update tuple

fruits3[1][0]='apple'
print(fruits3)

#Change 'cherry' and 'orange' to 'guave' and 'avacado'
fruits1[2:4]=['guave', 'avacdo']
print(fruits1)

['lime', 'apple', 'cherry', 'grape', 'orange']
('lime', ['apple'], 'cherry', 'grape', 'orange')
['lime', 'apple', 'guave', 'avacdo', 'orange']

In [20]:
#pack
class_enrl1 = ['Python', 25]
class_enrl2 = 'Java', 30
print(class_enrl1, class_enrl2)

#unpack
course_name1, student_count1 = class_enrl1
course_name2, student_count2 = class_enrl2
print(course_name1, student_count1)
print(course_name2, student_count2)

['Python', 25] ('Java', 30)
Python 25
Java 30

In [22]:
from re import A
#swap
a, b =10,20
print(a,b)
a,b =b,a
print(a,b)

#Swap
a , b , c =10,20,30
print(a,b,c)
a,b,c = b,c,a
print(a,b,c)

10 20
20 10
10 20 30
20 30 10